.main-nav {
    margin-top: 10px;
    margin-left: 0;
    list-style: none;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;

}
.main-div__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.main-ul {
    padding: 0;
    margin: 0;
    flex-grow: .2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-nav__item {
    display: flex;
}

.main-nav__item a {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.main-nav__item a:hover {
    background-color:#fca311
}
.main-nav__item a:active {
    color: red;
}
.main-nav__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
}

.main_img {
    position: relative;
    width: 100%;
    max-height: auto;
}

.background-img {
    position: relative;
    width: 100%;
    display: flex;
}

.presentation-img {
    display: flex;
    flex-direction: row;
    width: 70%;
}
#moving-img {
    position: relative;
    top: -150px;
    left: 15%;
}

.presentation-img__item {
    width: 25%;
    height: 345px;
    object-fit: cover;
    flex-grow: 1;
}
.main-txt {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-txt h1 {
    font-family: sans-serif;
}
.main-txt__description p{
    text-align: justify;
    text-justify: inter-word;
}
.main-txt__projects {
    display: flex;
    flex-direction: row;
}
.main-txt__projects img {
    width: 200px;
    height: 200px;
    padding-left:25px;
    padding-right: 25px;
}
.main-txt__contact {
    display: flex;
    flex-direction: row;
}
.main-txt__contact img {
    width: 75px;
    height: 75px;
    padding: 30px;
}