* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Styles for header section using BEM */
.header-nav {
    margin-top: 0px;
    margin-left: 0;
    list-style: none;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;

}
.header-nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.header-nav__list{
    padding: 0;
    margin: 0;
    flex-grow: .2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-nav__list__item {
    display: flex;
}

.header-nav__list__item a {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.header-nav__list__item a:hover {
    background-color:#fca311
}
.header-nav__list__item a:active {
    color: red;
}
.header-nav__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
}
.header-nav__theme span {
    padding: 10px;
}

/*Styles for the second header*/
#myChart{
    width: 100%;
    height: 60vh;
}
.main-secondHead{
    width: 100%;
    height: 4vh;
    background-color: #14213d;
}
.main-secondHead__Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.main-secondHead__Nav div {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    padding-left: 3vw;
}
.main-secondHead__form__label{
    color: white;
    font-size: .9rem;
    padding-right: 1vw;
}
input {
    width: 8vw;
}
/*Styles for the footer using BEM*/
.footer-wrapper {
    width: 100%;
    background-color: #14213d;
    height: 80px;
}